*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

 
}

body{
  height: 100vh;
  background: rgb(247, 234, 234);
  display: flex;
  align-items: center;
  justify-content: center;

}


.wrapper{
  background: rgb(235, 177, 177);
  width: 20rem;
  padding: 2rem;
  margin-top: 4rem;
  border-radius: 1rem;
  box-shadow: 0px 9px 15px -13px rgba(0,0,0.1);

}
.screen{
  height: 4rem;
  margin-bottom: 4rem;
  font-size: 40px;
}

.buttonbox{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 0.2rem; 
    transform: scale(100px);
}
.button{
  background-color: rgb(233, 236, 236);
  height: 3.5rem;
  padding: 5px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #242424;
  border: none;
  font-size: 1.5rem;
  transform: scale(50px);
  
}
.button:hover{
  border-style: groove;
  transform: scale(-50px);

}
.equals{
  background-color: aquamarine;
  grid-column: 3/5;
}
.opt{
  background-color: rgb(236, 183, 85);
}